{% extends "index.html" %}

{% block content %}
<div class="page-header">
    <div>
        <h1>Dashboard de Indicadores Clave (KPIs)</h1>
        <small>Métricas globales y evolución temporal de tasas críticas</small>
    </div>
</div>
<div class="card">
    <!-- Información adicional -->
    <div class="info-box">
        <h3>ℹ️ Información</h3>
        <p>
            Este panel presenta 6 Indicadores Clave (KPIs) para monitorear la pandemia.
            Los indicadores <strong>'Tasa de Recuperación'</strong> y <strong>'Tasa de Mortalidad'</strong> son dinámicos:
            se actualizan según la fecha seleccionada. Los otros cuatro indicadores son <strong>estáticos</strong> y reflejan la situación global más reciente.
        </p>
    </div>
    
 <!-- Contenedor del gráfico-->
    <div id="chart-container">
        {{ graph_html|safe }}
    </div>

    <div class="info-box green">
            <h3>💡 Tip de Uso</h3>
            <p>
                Utiliza el <strong>slider de fechas</strong>  para
                retroceder en el tiempo y observar cómo han evolucionado las tasas históricas.
            </p>
    </div>
</div>

{% endblock %}